#https://github.com/executablebooks/sphinx-tabs/archive/refs/tags/v3.0.0.tar.gz
# sphinx-tabs


# Packages that need to be installed (update the versions from time to time)
# Sphinx==5.3.0
# Needs sphinx < 7
#sphinx_rtd_theme>=1.0.0
sphinx-tabs>=3.4.0
#docutils==0.18.1    # fix bullet points
#myst-parser==0.18.1
