#### Sphinx ####

#https://github.com/executablebooks/sphinx-tabs/archive/refs/tags/v3.0.0.tar.gz
# sphinx-tabs

# Packages that need to be installed (update the versions from time to time)
sphinx >= 5.0

sphinx_rtd_theme>=0.5.2
sphinx-tabs>=3.0.0
docutils>=0.20.1    # bullet point problem


#### Python packages ####
pillow

# Needed?
numpy
matplotlib
