@import url(https://fonts.googleapis.com/css?family=Barlow%20Semi%20Condensed:400,100,100italic,300,300ita%E2%80%8C%E2%80%8Blic,400italic,500,500italic,700,700italic,900italic,900);
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


html, body, html * {
  font-family: 'Barlow Semi Condensed'
}

.wy-side-nav-search{
    background-color: #fcfcfc;
}
.wy-nav-top{
    background-color: rgb(208,35,33);
}

.wy-menu-vertical li.current a {
    color: #444444;
}

.wy-menu-vertical a {
    color: #444444;
    font-size: 100%;
}

.wy-menu-vertical a:hover {
    background-color: rgb(208,35,33);
}

.wy-nav-side {
    background: #fcfcfc;
}

.wy-side-scroll{
    background-color: #fcfcfc;
}

.wy-menu-vertical li.current>a {
    color: rgb(208,35,33);
}

.rst-versions .rst-current-version{
    background-color: rgb(208,35,33);
}

.rst-versions{
    background-color: rgb(143, 21, 19);
}
  
[role="tablist"] {
border-bottom: 1px solid rgb(208,35,33);
}

.sphinx-tabs-tab {
font-family: 'Barlow Semi Condensed';
color: rgb(208,35,33);
}

.sphinx-tabs-tab[aria-selected="true"] {
border: 1px solid rgb(208,35,33);
border-bottom: 1px solid white;
background-color: white;
}

.sphinx-tabs-panel {
border: 1px solid rgb(208,35,33);
border-top: 0;
background: white;
}


.wy-alert.wy-alert-info, .rst-content .note, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content .wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important, .rst-content .wy-alert-info.tip, .rst-content .wy-alert-info.warning, .rst-content .seealso, .rst-content .wy-alert-info.admonition-todo, .rst-content .wy-alert-info.admonition {
    background: #ffdddd;
}


.wy-alert.wy-alert-info .wy-alert-title, .rst-content .note .wy-alert-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .rst-content .wy-alert-info.admonition .wy-alert-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .rst-content .note .admonition-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .seealso .admonition-title, .rst-content .wy-alert-info.admonition-todo .admonition-title, .rst-content .wy-alert-info.admonition .admonition-title {
    background: rgb(208,35,33);
}


.rst-content pre.literal-block, .rst-content div[class^='highlight'] pre, .rst-content .linenodiv pre {
    line-height: normal;
    font-family: 'Fira Mono', monospace;
}

code, .rst-content tt, .rst-content code {
    font-size: 90%;
}

pre span {
    font-family: 'Fira Mono', monospace;
}

.rst-content dl:not(.docutils) dt {
    border-top: none;
    color: #404040;
    font-weight: 400;
    background: none;
}